<ul class="nav nav-tabs">
  <li class="active"><a href="#/">三碗点名</a></li>
  <li><a href="#/members">会员管理</a></li>
</ul>
日期（如2013-3-13）：<input ng-model="info.date">

<div class='row'>
  <div class='span9'>
<p>
排序方式: 
<input type="radio" ng-model="info.member_order" value="index">拼音首字母序
<input type="radio" ng-model="info.member_order" value="-weight">活动频繁程度
</p>
首字母过滤：<input ng-model="info.query" ui-keyup="{'enter':'queryOnEnter()', 'esc': 'queryOnEsc()'}">
名字大小：<input type="button" value="+" ng-click="member_font_adjust(5)"> <input type="button" value="-" ng-click="member_font_adjust(-5)">
<ul class="flat">
    <li ng-repeat="member in members | filter:doFilter | orderBy:info.member_order">
        <a ng-style='member_style' ng-click='checkin_click(member.name)' ng-class='{checkedin:isCheckin(member.name)}'>{{member.name}}</a>
    </li>
</ul>

<div style="clear:both">
    新会员：<input ng-model="name_new_member"> 女生<input type="checkbox" ng-model="girl_new_member" ng-true-value="1" ng-false-value="0">
    <button ng-click='new_member(false)'>添加</button> 
    <button ng-click='new_member(true)'>添加并签到</button>
</div>

<button style="font-size:14pt" ng-click='save()'>保存签到表、缴费表</button>
<span>{{server_message}}</span>
<p>
  使用说明：
  <ul><li>单击姓名来点名，红色表示已签到，再单击红色算多次、缴费</li></ul>
</p>

</div>

  <div class='span3'>
    <h3>本次签到情况 (共{{checkin_names_list.length}}人)</h3>
    <table class='table'>
      <thead>
        <th>姓名</th>
        <th>次数</th>
        <th>缴费</th>
      </thead>
      <tbody>
        <tr ng-repeat="name in checkin_names_list">
          <td><a ng-click='checkin_click(name)'>{{name}}</a></td>
          <td>{{checkins[name].weight}}</td>
          <td>{{checkins[name].deposit}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
