<h3>
    名单<span style="font-size:10pt">（单击姓名来点名，红色表示已签到）</span>
</h3>
首字母过滤：<input ng-model="query">
<ul class="flat">
    <li ng-repeat="member in members | filter:doFilter">
        <a href='#/checkin/{{member.name}}' ng-class='{checkedin:isCheckin(member)}'>{{member.name}}</a>
    </li>
</ul>

<div style="clear:both">
    新会员：<input ng-model="name_new_member"> 女生<input type="checkbox" ng-model="girl_new_member" ng-true-value="1" ng-false-value="0">
    <button ng-click='new_member(false)'>添加</button> 
    <button ng-click='new_member(true)'>添加并签到</button>
</div>

<button ng-click='save()'>保存签到表</button>
<span>{{server_message}}</span>
