<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>{% block title %}mmqweb{% endblock %}</title>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        <link rel=stylesheet type=text/css href='/static/mmqweb.css'>
        {% block head %}{% endblock %}
    </head>
    <body>
        <div id="header">
            <div id="nav">
                <a href="{% url 'club_index' %}">首页</a>
            </div>
            <div id="account">
                {% if user.is_authenticated %}
                {{ user.username }} <a href="/accounts/logout/?next=/game/">登出</a>
                {% else %}
                <a href="{% url 'game_login_user' %}">登录</a>
                {% endif %}
            </div>
        </div>
        {% block content %}
        {% endblock %}
    </body>
</html>

