{% extends "base.html" %}
{% load url from future %}
{% block content %}
<div id="hl_tournament">
    {% if tournament %}
    <!--        <h2>近期赛事</h2> -->
        <h3>{{ tournament.name }}</h3>
        {% if is_admin %}
        <a href="{% url 'game.views.tournament_edit' tid=tournament.id %}">编辑</a>
        {% endif %}
        <pre>{{ tournament.text|safe }}</pre>
        {% for group in group_views %}
        <div>{{ group|safe }}</div>
        {% endfor %}
        {% if ranking %}
        {% endif %}
    {% endif %}
</div>
{% endblock %}
