{% extends "base.html" %}
{% load url from future %}
{% block content %}
<div id="hl_tournament">
    {% if tournament %}
    <!--        <h2>近期赛事</h2> -->
        <h3>{{ tournament.name }}</h3>
        {% if perms.game.change_tournament %}
        <a href="{% url 'game.views.tournament_edit' tid=tournament.id %}">编辑</a>
        {% endif %}
        <pre>{{ tournament.text|safe }}</pre>
        {% for group in group_views %}
        <div>{{ group|safe }}</div>
        {% endfor %}
        {% if ranking %}
        <h4>排名</h4>
        <table border="1px">
            <tr><th></th><th width="100px">选手</th><th>详情</th></tr>
            {% for rank, player, comment in ranking %}
            <tr><td align="center">{{ rank }}</td><td align="center">{{ player }}</td><td>{{ comment }}</td></tr>
            {% endfor %}
        </table>
        {% endif %}
    {% endif %}
</div>
{% endblock %}
