{% extends "base.html" %}
{% block title %}{{ player.name }} - mmqweb{% endblock %}

{% block content %}
<h2>{{ player.name }} - 比赛列表</h2>
<table id="match_table">
    <tr>
        <th width='300px'>比赛</th><th width='50px'>单打</th><th width='50px'>双打</th>
    </tr>
    {% for rating in ratings %}
    <tr>
    <td><pre>{{ rating.match.asHtml|safe }}</pre></td>
    <td>{{ rating.rating_singles|floatformat:0 }}</td>
    <td>{{ rating.rating_doubles|floatformat:0 }}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
