{% load url from future %}
{% extends "base.html" %}
{% block title %}编辑{{ tournament.name }} - mmqweb{% endblock %}
{% block head %}
<script type="text/javascript">
function edit_text() {
    $('#form_text').css('display','block');
    $('#text').css('display','none');
    $('#text_status').css('display','none');
}
function add_match() {
    $("#add_match").css('display','block');
}
</script>
{% endblock %}

{% block content %}
<h2>{{ tournament.name }}</h2>
<h4>简介文字：</h4>
<a href="javascript:edit_text();">编辑</a> 
<span id="text">{{ form_text.initial.text }}</span>
<form id="form_text" action="{% url 'mmqweb.game.views.tournament_edit_text' tid=tournament.id %}" method="POST" style="display:none">
    {{ form_text.as_p }}
    <input type="submit" value="修改" />
</form>
<br/>
<span id="text_status">{{ text_status }}</span>

<h4>参赛选手</h4>
{% if participation_list %}
{% for p in participation_list %}
{{ p }}
{% endfor %}
<br/>
{% endif %}
<a href="{% url 'mmqweb.game.views.tournament_add_participation' tid=tournament.id %}">增加参赛选手</a>

<h4>比赛记录</h4>
{% for mg in match_groups %}
<a href="{% url 'mmqweb.game.views.matches' mgid=mg.id %}">查看全部{{ mg.match_set.count }}场比赛</a>
<a href="javascript:add_match();">增加比赛记录</a>
{% endfor %}
<div id="add_match" style="display: none">
<div class="hint" style="font-size: 9pt">
    在下面的文本框中可以一次输入多条比赛记录，比赛之间用空行空开，每条记录至少一行，格式如下：<br/>
    <blockquote>
    老大:套长 21:19 12:21 21:12<br/>
    上面一行格式固定，这一行可以写评论。需要的话用[耗时:10],[裁判:fish]来表示各种结构化的数据，这样方便统计耗时最长的比赛。弃权，犯规等导致胜方需要特别说明的情况，在这里用[胜者:老大]表示。
    </blockquote>
</div>
<form action="{% url 'mmqweb.game.views.tournament_add_matches' tid=tournament.id %}" method="POST">
    {{ form_match.as_p }}
    <input type="submit" value="确定" />
    {{ addmatch_status }}
</form>
</div>
{% endblock %}
