{% extends "base.html" %}
{% load url from future %}
{% block title %}{{ tournament.name }} - mmqweb{% endblock %}
{% block content %}
<div id="hl_tournament">
    <h2>{{ tournament.name }}</h2>
    {% if is_admin %}
    <a href="{% url 'game.views.tournament_edit' tname=tournament.name %}">编辑</a>
    {% endif %}
    <pre>{{ tournament.text|safe }}</pre>
    {% for group in group_views %}
    <div>{{ group|safe }}</div>
    {% endfor %}
    {% if ranking %}
    {% endif %}
</div>
{% endblock %}
