body {
    font-size:medium;
}

pre, textarea {
    font-family:"宋体";
    font-size:10.5pt;
    line-height:150%;
}

.match {
//    width: 250px;
//    border-bottom:1px solid black;
}

.ranking_table {
    float:left;
    margin-right: 20px;
}

.ranking_table a {
    color:#000033; 
    text-decoration:none;
}

.player_type_1 {
    color: rgb(51, 160, 160);
}

.player_type_2 {
    color: rgb(208, 0, 208);
}

.ranking_table h5 {
    text-align: center;
}

.hl_message {
    background-color:yellow;
}

#id_same_comments {
    width: 50em;
    display: block;
}
