{% extends "base.html" %}
{% block content %}
<div id="hl_tournament">
    <h2>近期赛事</h2>
    <h3>{{ tournament.name }}</h3>
    {% if perms.game.change_template %}
    <a href="{% url mmqweb.game.views.tournament_edit tid=tournament.id %}">编辑</a>
    {% endif %}
    <a href="{% url mmqweb.game.views.tournament_matches tid=tournament.id %}">全部{{match_count}}场比赛</a>
    <pre>{{ tournament.text|safe }}</pre>
    <h4>排名</h4>
    <table border="1px">
        <tr><th></th><th width="100px">选手</th><th>详情</th></tr>
        {% for rank, player, comment in ranking %}
        <tr><td align="center">{{ rank }}</td><td align="center">{{ player }}</td><td>{{ comment }}</td></tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
