{% extends "bootstrap-base.html" %}
{% block title %}
会费情况表
{% endblock %}
{% block head %}
<style type="text/css">
  #range-filter > form > * {
    margin-right: 5px;
  }
</style>
{% endblock %}
{% block content %}
<h1>会费情况表</h1>
<div id="range-filter">
  <span>统计范围：</span>
  <form action='' class='form-inline' method='get'>
    <input type='date' class='input-medium' name='start' value='{{range.start}}' placeholder='起始日期' />
    <span>-</span>
    <input type='date' class='input-medium' name='end' value='{{range.end}}' placeholder='终止日期' />
    <button type='submit' class='btn'>刷新</button>
  </form>
</div>
<div class='row'>
  <div class='span4'>
    <table class="table">
      <thead>
        <th>姓名</th>
        <th>余额</th>
      </thead>
      {% for m in members %}
      <tr>
        <td><a href="{% url 'club_activity_sheet' name=m.name %}">{{m.name}}</a></td>
        <td><span class="{{ m.is_low_balance|yesno:"low_balance," }}">{{m.balance}}</span></td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>
{% endblock %}
