{% extends "bootstrap-base.html" %}
{% load url from future %}
{% block title %}
三碗点名
{% endblock %}
{% block head %}
  <script src="/static/js/jquery-1.8.0.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  <script src="/static/angular.min.js"></script>
  <script src="/static/angular-ui.min.js"></script>
  <link href="/static/angular-ui.min.css" rel="stylesheet" media="screen">
  <script src="/static/js/ui-bootstrap-custom-tpls-0.8.0.min.js"></script>
  <script src="/static/js/underscore-min.js"></script>
  <script src="/static/club/app.js"></script>
{% endblock %}
{% block content %}
<div ng-app="club">
  <script type="text/ng-template" id="editModal.html">
  <div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">×</button>
    <h3 id="editModalLabel">修改会员</h3>
  </div>
  <div class="modal-body">
    <form>
      <fieldset>
        <label>姓名</label>
        <input type="text" ng-model="memberEdit.name">
        <label>性别</label>
        <input type="radio" id="maleRadio" ng-value="true" ng-model="memberEdit.male"> 男
        <input type="radio" id="femaleRadio" ng-value="false" ng-model="memberEdit.male"> 女
        <p><span>联系信息</span></p>
        <p ng-repeat="o in extra">
          <select ng-options="o for o in extraOptions" ng-model="o.key"/>
          <input type="text" ng-model="o.value">
          <button type="button" class="close" ng-click="del_extra($index)">×</button>
        </p>
        <br/><button class="btn" ng-click="add_extra()">添加</button>
      </fieldset>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn" ng-click="cancel()">取消</button>
    <button class="btn btn-primary" ng-click="edit_member_save()">保存修改</button>
  </div>
  </script>

  <div ng-controller="OutCtrl">
    <div ng-view></div>
  </div>
</div>
{% endblock %}
