{% extends "bootstrap-base.html" %}
{% load url from future %}
{% block content %}

<div class="hero-unit">
  <h1>交大三碗羽毛球俱乐部</h1>
  <p>三碗羽毛球俱乐部简称三碗，汇交大超级羽毛球球棍之组织，以球会友，以打球腐败灌水打牌敲bg等活动为主，欢迎各位球棍！</p>
  <p><a class="btn" href="https://bbs.sjtu.edu.cn/bbsdoc?board=badminton">badminton版 &raquo;</a></p>
</div>

<div class="row">
  <div class="span4">
    <h2>招新安排</h2>
    <p>
    招新要求：必须具体一定的基础；必须有热情；必须保证一定的活动时间；人品好；
    考虑到提高水平需要一定的时间，故大一 硕一 博一优先！              
    </p>
    <p>
    每年都有很有潜力的新人加入，欢迎你们加入我们这个贴别快乐的群体！
    本学期俱乐部成员流动稍少，名额有限！
    </p>
    <p><a class="btn" href="https://bbs.sjtu.edu.cn/bbscon?board=badminton&file=M.1347549317.A">详情 &raquo;</a></p>
  </div>
  <div class="span4">
    <h2>会费标准</h2>
    <p>
    男 15元/次  女 10元/次  临时会员 老馆20元/次  新馆 25/次

    每学期所有会员150元会费请一定打完 不退 不转让 不顺延 
    </p>
    <p><a class="btn" href="https://bbs.sjtu.edu.cn/bbscon?board=badminton&file=M.1347549317.A">详情 &raquo;</a></p>
  </div>
  <div class="span4">
    <h2>活动时间</h2>
    <p>
    周二   18:30——21:30      老馆  五片场地

    周四   19:00----22:00      新馆  二片场地 场地需要每次派人去排队买

    每周周二报名周四活动  人数不够8人则取消

    周六   16:00——19:00      老馆  五片场地
    </p>
  </div>
</div>
{% endblock %}
